# Ignore data folder and all its contents
data/
datap/
filtered_issues_events.parquet/*
# Ignore metastore database
metastore_db/

# Ignore all log files
*.log

# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variables / secrets
.env
